# Documentation
doc/_build
doc/source

# Python / Anaconda
*.egg-info
.eggs
*.iml
*.pyc

# IntelliJ / PyCharm
/.idea
/build
/src
/dist

# Jupyter notebook
.ipynb_checkpoints

# Joblib
.cache

# OS X
.DS_Store
