## Requirements that need to be installed to be able to develop bdr-analytics-py
--index-url https://pypi.python.org/simple/

NumPy>=1.6.1
SciPy>=0.9
scikit-learn>=0.18
nose
pandas

# note, can also use github locations (with -e to allow reinstalling, need egg name to let module now what is installed)
# either having it implicit (NOT defined in setup.py) and define it here
#  or having it explit (defined in setup.py including git repo) and NOT define it here
#-e git+https://github.com/scikit-learn/scikit-learn.git#egg=scikit-learn-0.18.dev0

