# This environment is designed to work WITH the bdranalytics module: it includes the module including its dependencies
# If you want to use pip to install the module, instead of by building straight from the setup.py
# By including the module, the module including all its dependencies will be installed
# This therefore makes it easy to include the module into your own environment
# We use the --editable flag such that you can reinstall the package after you modified it
-e .