--index-url https://pypi.python.org/simple/

# Install all requirements for the module
-f requirements-dev.txt

# install the local developed module, including its listed dependencies
-e .

# Install additional packages for notebooks
jupyter
matplotlib
pandas
statsmodels
