# This environment is designed to work ON the bdranalytics module: it includes its dependencies, but not bdranalytics itself.
# This allows you to easily setup an environment in which you work on / contribute to the bdranalytics module
# It therefore also includes the test tools
NumPy>=1.6.1
SciPy>=0.9
scikit-learn>=0.18
pandas
keras
matplotlib
seaborn
pytest
pytest-runner
sphinx
sphinx_rtd_theme
recommonmark
